<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Email Verification</title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        .title{
            color: green;
        }
        .button{
            padding: 12px;
            background-color: aliceblue;
            color: #0D1C2C;
        }
    </style>
</head>
<body>
    <h1 class="title">Congratulation</h1>
    <button class="button">VERIFY</button>
    <p>{message}</p>
</body>
</html>